//Variablat
//Fonts
$nunito: "Nunito Sans";
$opensans: "Open Sans";
//Structure
//Colors
$activecolor: #212353;
$inactivecolor: #4B5D68;
$herotitlecolor: #212353;
$linkcolor: #9C69E2;
$buttoncolor: #F063B8;